{% extends 'admin_temp/base.html' %}
{% block content %}
  
<div class="row">
    <div class="col-md-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <p class="card-title">Deposit</p>
          <div class="row">
            <div class="col-12">
              <div class="table-responsive">
                <table id="example" class="display expandable-table" style="width:100%">
                  <thead>
                    <tr>
                      <th>username</th>
                      <th>Passport</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  {% for x in x reversed %}
                  <tbody>
                    <td>
                        <div class="tbd">
                            <p>{{x.user.username}}</p>
                            <div class="content">
                                
                                <p></p>
                            </div>
                        </div>
                    </td>
                    <td>
                        <img src="{{x.passport.url}}" width="40" alt="">
                    </td>

                    <td>
                        <a href="/superadmin/userkyc_view/{{x.id}}">View</a>
                    </td>
                    
                  </tbody>
                  {% endfor %}
              </table>
              </div>
            </div>
          </div>
          </div>
        </div>

        
      </div>
    </div>

{% endblock %}