{% load static %}
<div class="container">
    <!doctype html>
    <html class="no-js" lang="zxx">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <title> Charity | Qfs ledger</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="manifest" href="site.webmanifest">
        <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.ico">
    
        <!-- CSS here -->
        <link rel="stylesheet" href="{% static 'charity/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/owl.carousel.min.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/slicknav.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/flaticon.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/progressbar_barfiller.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/gijgo.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/animate.min.css' %}">
        
        <link rel="stylesheet" href="{% static 'charity/css/magnific-popup.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/fontawesome-all.min.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/themify-icons.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/slick.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/nice-select.css' %}">
        <link rel="stylesheet" href="{% static 'charity/css/style.css' %}">
    </head>
    <body>
        <!-- ? Preloader Start -->
        <div id="preloader-active">
            <div class="preloader d-flex align-items-center justify-content-center">
                <div class="preloader-inner position-relative">
                    <div class="preloader-circle"></div>
                    <div class="preloader-img pere-text">
                        <img src="{% static 'charity/img/logo/loder.png' %}" alt="">
                    </div>
                </div>
            </div>
        </div>
        <!-- Preloader Start -->
       
        <!-- header end -->
        <main>
        <!-- slider Area Start-->