{% extends 'user/base2.html' %}
  {% load static %}
    {% block content %}
    <link id="pagestyle" href="{% static 'css/dashboard.min.css' %}" rel="stylesheet" />

{% if x %}
    
      <div class="row">
        <div class="col-12">
          <div class="card mb-4">
            <div class="card-header pb-0">
              <h6>Backup Withdrawal History</h6>
            </div>
            <div class="card-body px-0 pt-0 pb-2">
              <div class="table-responsive p-0">
                
                <table class="table align-items-center mb-0">
                  <thead>
                    <tr>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Backup Withdrawal info</th>
                      <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">amount</th>
                      <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Status</th>
                      
                      <th class="text-secondary opacity-7"></th>
                    </tr>
                  </thead>
                  {% for a in x reversed %}
                  <tbody>
                    <tr>
                      <td>
                        <div class="d-flex px-2 py-1">
                          <div>
                            <img src="{{a.backup.logo.url}}" class="avatar avatar-sm me-3" alt="user1">
                          </div>
                          <div class="d-flex flex-column justify-content-center">
                            <h6 class="mb-0 text-sm">{{a.backup.name}}</h6>
                            <p class="text-xs text-secondary mb-0">{{a.date}}</p>
                          </div>
                        </div>
                      </td>
                      <td>
                        <p class="text-xs font-weight-bold mb-0">${{a.amount}}</p>
                        <p class="text-xs text-secondary mb-0"></p>
                      </td>
                      <td class="align-middle text-center text-sm">
                       {% if a.status %}
                        <span class="badge badge-sm bg-gradient-success">Approved</span>
                        {% else %}
                        <span class="badge badge-sm bg-gradient-secondary">Pending</span>
                        {% endif %}
                      </td>
                     
                    </tr>
                  </tbody>
                  {% endfor %}
                </table>
               
              </div>
            </div>
          </div>
        </div>
       
      </div>
    
 {% else %}
 <div class="container-fluid py-4">
  <div class="row">
    <div class="col-12">
      <div class="card mb-4">
        <div class="card-header pb-0">
          <h6>No transactions found</h6>
        </div>
        <div class="card-body px-0 pt-0 pb-2">
          <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
              <thead>
                <tr>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                  <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2"></th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                  <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7"></th>
                  <th class="text-secondary opacity-7"></th>
                </tr>
              </thead>
              <tbody>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
    {% endif %}

{% endblock %}