{% extends 'user/base.html' %}
{% load static %}
{% block content %}

<div class="container">





{% if x %}
    {% for x in x %}

<div class="col-xl-6 mb-xl-0 mb-4" style="margin-top: 1rem;">
                  <div class="card bg-transparent shadow-xl">
                    <div class="overflow-hidden position-relative border-radius-xl" style="background-image: url('{% static 'img/curved-images/curved14.jpg' %}');">
                      <span class="mask bg-gradient-dark"></span>
                      <div class="card-body position-relative z-index-1 p-3">
                        <h3 style="color: white;" name="cardtype">{{x.card.cardtype}}</h3>
                        <i class="fas fa-wifi text-white p-2"></i>
                <h5 class="text-white mt-4 mb-5 pb-2">{{x.card.uniqcode1}}&nbsp;&nbsp;&nbsp;{{x.card.uniqcode2}}&nbsp;&nbsp;&nbsp;{{x.card.uniqcode3}}&nbsp;&nbsp;&nbsp;{{x.card.uniqcode4}}</h5>
                        <div class="d-flex">
                          <div class="d-flex">
                            <div class="me-4">
                              <p class="text-white text-sm opacity-8 mb-0">Card Holder</p>
                              <h6 class="text-white mb-0" name="user">{{user.username}}</h6>
                            </div>
                            <div>
                              <p class="text-white text-sm opacity-8 mb-0">Expires</p>
                              <h6 class="text-white mb-0">{{x.card.expdate}}</h6>
                            </div>
                          </div>
                          <div class="ms-auto w-20 d-flex align-items-end justify-content-end">
                            <img class="w-60 mt-2" src="{{x.card.logo.url}}" alt="logo">
                          </div>
                        </div>
                      </div>
                    </div>
                    
                  </div>
                  {% if x.status %}
                    <span class="badge badge-sm bg-gradient-success">Approved</span>
                    {% else %}
                    <span class="badge badge-sm bg-gradient-secondary">Pending</span>
                    {% endif %}
                </div>
           
            {% endfor %}
            {% else %}
            <div class="row mt-4">
                <div class="col-lg-7 mb-lg-0 mb-4">
                  <div class="card">
                    <div class="card-body p-3">
                      <div class="row">
                        <div class="col-lg-6">
                          <div class="d-flex flex-column h-100">
                            <p class="mb-1 pt-2 text-bold">Get your self a membership card</p>
                            <h5 class="font-weight-bolder"></h5>
                            <p class="mb-5">In {{ss.sitename}} Our mission is to facilitate the global free flow of digital value.<br>click the apply button to apply for a payment card this also serve as your debit or credit card</p>
        
        
        
        
                            <div id="outerModal233" class="modal">
                              <div class="modal-content">
                                <div class="top_model">
                                  <span class="close" onclick="closeOuterModal('233')">&times;</span>
                                 
                                </div>
                                  <div class="modal-body">
                                   Hi {{user.username}} to be able to apply for a credit card you must have at least $10,000 in your account click <a href="/user">Deposit</a> to make a deposit
                                </div>
                            
                                </div>
                            </div>
         {% if cb %}
        <a href="#" onclick="showOuterModal('233')">
                           <div class="cardimg">
                            <img src="{% static 'images/purse.png' %}" alt="" width="50">Apply
                           </div>
                            </a>
         {% else %}
        <a class="text-body text-sm font-weight-bold mb-0 icon-move-right mt-auto" href="/cardpayment">
            <div class="cardimg">
                <img src="{% static 'images/purse.png' %}" alt="" width="50">Apply
               </div>
               </a>
         {% endif %}
                            
                            
                            
                          </div>
                        </div>
                       
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}

</div>

{% endblock %}